<script>
export default {
  
  methods: {

  },
  data() {
    return {
      search: '',
      searchResults: null
    }
  }
}

</script>

<template>
  <input type="text" placeholder="Search for a store or product" v-model="search">
  <div v-if="searchResults">
    <div v-for="result in searchResults" :key="result.id">
      <h3>{{ result.name }}</h3>
      <p>{{ result.description }}</p>
    </div>
  </div>
</template>