<script>

import SearchStores from '../components/SearchStores.vue'

import { session } from '../state.js'

import onionrRPC from '../rpc.js'

export default {
  data() {
    return {
      session
    }
  },
  methods: {
    createStore() {
      //storeName = prompt("Enter a name for your store")
      let id = Math.random() + Math.random()
      id = id.toString().replaceAll('.', '')
      onionrRPC.queue_rpc(this.session, 'create_block', id, [btoa("test" + Math.random().toString()), "txt", Number(prompt("Enter TTL")), {}])
      let storeCreateInterval = () => {
        onionrRPC.get_rpc_result(this.session, id).then((response) => {
          response.json().then((result) => {
            console.debug(result)
            if (result === "no result"){
              setTimeout(function(){storeCreateInterval()}, 1000)
              return
            }
            console.debug(result)
          })
      })
    }
    storeCreateInterval()
  }
  }
}

</script>

<template>
  <div class="dashboard">
    <button @click="createStore()">Create Store</button>
    
  </div>
</template>

<style scoped>

</style>