<script setup>
import { VueElement } from 'vue';
import { RouterLink, RouterView } from 'vue-router'

import { session } from './state.js'

import fixURL  from './fixurl.js'

import onionrRPC from './rpc.js'


</script>
<script>
  export default {
  methods: {
    rpcValidDetect() {
        
      onionrRPC.onionrRPC(this.session, 'ping').then((response) => {
        if (response.status != 200) {
          this.isValidRPC = false
          return
        }
        response.json().then((pingResp) => {
          if (pingResp['error']){
            this.isValidRPC = false
            return
          }
          if (pingResp['result'] == 'pong') {
            this.isValidRPC = true
          }
        })
      }).catch((error) => {
        console.debug(error)
        this.isValidRPC = false
      })

    }

  },
  data() {
    return {
        isValidRPC: false,
        session,
        rpcValidInterval: null,
    }
  },
  mounted: function() {
    this.rpcValidInterval = setInterval(this.rpcValidDetect, 5000)
    this.rpcValidDetect()
  }
  }


</script>

<template>
  <header>

    <ul class="nav">
      <li class="nav-item">
        <RouterLink class="nav-link" to="/">Merkato</RouterLink>
      </li>
      <li class="nav-item">
        <RouterLink class="nav-link" to="/">Dashboard</RouterLink>
      </li>
      <li class="nav-item">
        <RouterLink class="nav-link" to="/about">About</RouterLink>

      </li>
      <li class="nav-item right">
        <div v-if="isValidRPC" class="valid-rpc">Connected to Onionr {{ fixURL.isURLSecure(session.onionrDaemonAddress)  }}</div>
        <div v-else class="invalid-rpc">Bad Onionr RPC connection</div>
        <input type="text" placeholder="Onionr Daemon address" class="rpcSetting" v-model="session.onionrDaemonAddress" @change="rpcValidDetect">
      </li>

    </ul>

  </header>
  <div class="main">
    <RouterView />
  </div>
</template>

<style scoped>
  .main{
    margin-left: 5%;
    margin-top: 1em;
  }
</style>
