@import './base.css';

h1, h2, h3{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a, a:visited {
  color: black;
}

nav a {
  display: block;
  padding-left: 1em;
}
nav a:visited{
  color: inherit;
}
nav{
  display: block;
  margin-bottom: 2em;
}


.logo{
  padding-left: 1em;
  padding-bottom: 1em;
}
.right {
  position: absolute;
  right: 0px;
  width: 25%;
  padding: 5px;
  }